.wrapper {
  position: relative;
  color: var(--white);
  width: 540px;
}

.quote {
  font-size: var(--font-size-body-regular);
  font-weight: 400;
  line-height: var(--line-height-body-regular);
  margin-bottom: 13px;
}

.author {
  font-size: var(--font-size-body-regular);
  font-weight: 700;
  line-height: var(--line-height-body-regular);
  margin-bottom: 13px;
}
