// Use Scss variable
$tablet-and-below: 1100px;
$mobile-and-below: 550px;

.wrapper {
  position: relative;
  color: var(--white);

  padding-left: 165px;
  padding-right: 165px;
  padding-top: 56px;

  @media (max-width: $tablet-and-below) {
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 80px;
  }
}

.quote {
  position: relative;
  font-size: var(--font-size-body-regular);
  font-weight: 400;
  line-height: var(--line-height-body-regular);
  margin-bottom: 13px;
  width: 540px;
}

.author {
  font-size: var(--font-size-body-regular);
  font-weight: 700;
  line-height: var(--line-height-body-regular);
  margin-bottom: 13px;
}

.button {
  border: none;
  background: none;
  color: inherit;

  position: absolute;
  top: 6px;
  right: -25px;
}
