.wrapper {
  position: relative;
  color: var(--white);

  padding-left: 165px;
  padding-right: 165px;
  padding-top: 56px;
}

.quote {
  position: relative;
  font-size: var(--font-size-body-regular);
  font-weight: 400;
  line-height: var(--line-height-body-regular);
  margin-bottom: 13px;
  width: 540px;
}

.author {
  font-size: var(--font-size-body-regular);
  font-weight: 700;
  line-height: var(--line-height-body-regular);
  margin-bottom: 13px;
}

.button {
  border: none;
  background: none;
  color: inherit;

  position: absolute;
  top: 6px;
  right: -25px;
}
