// Use Scss variable
$tablet-and-below: 1100px;
$mobile-and-below: 550px;

.buttonwrapper {
  width: 146px;
  height: 56px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;

  border: none;
  background: none;
  color: inherit;

  background-color: var(--white);
  border-radius: 5000px;

  &:hover,
  &:focus {
    & circle {
      fill: #999999;
    }
  }

  @media (max-width: $mobile-and-below) {
    width: 115px;
    height: 39px;
    justify-content: flex-end;
  }
}

.buttonwrapper p {
  font-size: 16px;
  font-weight: 700;
  line-height: var(--line-height-body-regular);
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--button-normal);

  @media (max-width: $mobile-and-below) {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 3.75px;
  }
}
