// CSS Reset
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

// Global baseline styles
:root {
  --black: hsl(0deg 0% 0%);
  --white: hsl(0deg 0% 100%);
  --button-normal: hsl(0deg 0% 19%);
  --button-active: hsl(0deg 0% 60%);

  --font-size-body-regular: 18px;
  --font-size-heading-4: 20px;
  --font-size-heading-3: 24px;
  --font-size-heading-1: 200px;
  --font-size-heading-6: 15px;
  --font-size-heading-2: 56px;

  --line-height-heading-1: 200px;
  --line-height-body-regular: 28px;
}
