// Use Scss variable
$tablet-and-below: 1100px;
$mobile-and-below: 550px;

.wrapper {
  display: grid;
  position: relative;
  height: 800px;
  grid-template-areas:
    'upper'
    'lower';
  grid-template-rows: 400px 400px;

  padding-left: 165px;
  padding-right: 165px;
  padding-top: 56px;
  padding-bottom: 98px;

  // @media (max-width: $tablet-and-below) {
  //   grid-template-rows: 540px 1000px 1fr 250px;
  // }

  // @media (max-width: $mobile-and-below) {
  //   grid-template-rows: 480px 1100px 1fr 250px;
  // }
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}
