// Use Scss variable
$tablet-and-below: 1100px;
$mobile-and-below: 550px;

.wrapper {
  position: relative;
  display: grid;
  grid-template-areas: 'time button';
  grid-template-columns: 1fr 1fr;

  color: var(--white);

  padding-left: 165px;
  padding-right: 165px;
  padding-top: 56px;

  @media (max-width: $tablet-and-below) {
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 153px;

    grid-template-areas:
      'time'
      'button';
    grid-template-columns: 1fr;
    gap: 80px;
  }

  @media (max-width: $mobile-and-below) {
    padding-left: 26px;
    padding-right: 26px;
    gap: 48px;
  }
}

.isExpand {
  padding-bottom: 56px;

  @media (max-width: $tablet-and-below) {
    padding-top: 153px;
    padding-bottom: 64px;
  }

  @media (max-width: $mobile-and-below) {
    padding-top: 99px;
    padding-bottom: 40px;
  }
}

.notExpand {
  padding-bottom: 98px;

  @media (max-width: $tablet-and-below) {
    padding-bottom: 64px;
  }

  @media (max-width: $mobile-and-below) {
    padding-bottom: 40px;
  }
}

.timewrapper {
  grid-area: time;
  justify-self: start;
  align-self: end;

  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (max-width: $tablet-and-below) {
    gap: 0px;
  }

  @media (max-width: $mobile-and-below) {
    gap: 16px;
  }
}

.greetingwrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.greetingwrapper p {
  font-size: var(--font-size-heading-4);
  line-height: var(--line-height-body-regular);
  font-weight: 400;
  letter-spacing: 4px;
  text-transform: uppercase;

  @media (max-width: $tablet-and-below) {
    font-size: var(--font-size-body-regular);
  }

  @media (max-width: $mobile-and-below) {
    font-size: 15px;
    letter-spacing: 3px;
    line-height: 25px;

    & > span {
      display: none;
    }
  }
}

.timezonewrapper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 12px;
}

.timezonewrapper p:first-of-type {
  font-size: var(--font-size-heading-1);
  line-height: var(--line-height-heading-1);
  letter-spacing: -5px;
  font-weight: 700;

  @media (max-width: $tablet-and-below) {
    font-size: 175px;
    line-height: 175px;
    letter-spacing: -4.3px;
  }

  @media (max-width: $mobile-and-below) {
    font-size: 100px;
    line-height: 100px;
    letter-spacing: -2.5px;
  }
}

.timezonewrapper p:last-of-type {
  font-size: 40px;
  font-weight: 300;
  line-height: var(--line-height-body-regular);
  text-transform: uppercase;

  @media (max-width: $tablet-and-below) {
    font-size: 32px;
  }

  @media (max-width: $mobile-and-below) {
    font-size: 15px;
  }
}

.location {
  font-size: var(--font-size-heading-3);
  line-height: var(--line-height-body-regular);
  font-weight: 700;
  letter-spacing: 4.8px;
  text-transform: uppercase;

  @media (max-width: $tablet-and-below) {
    font-size: var(--font-size-body-regular);
    letter-spacing: 3.6px;
  }

  @media (max-width: $mobile-and-below) {
    font-size: 15px;
    letter-spacing: 3px;
  }
}

.buttonwrapper {
  grid-area: button;
  justify-self: end;
  align-self: end;

  @media (max-width: $tablet-and-below) {
    justify-self: start;
  }
}
